<p>laizhouwan works!</p>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">项目名称</th>
    <th scope="col">施工周期</th>
    <th scope="col">面积平方公里</th>
    <th scope="col">水深米</th>
    <th scope="col">蓄水立方</th>
    <th scope="col">潮差米</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>莱州湾工程</td>
    <td>3年至10年</td>
    <td>6060</td>
    <td>10 | 18</td>
    <td>No</td>
    <td>0.9/2.2</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>辽东湾工程</td>
    <td>10年以上</td>
    <td>10000左右</td>
    <td>No/32</td>
    <td>@fat</td>
    <td>2.7/5.4</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>渤海黄海工程</td>
    <td>百年千年甚至遥遥无期</td>
    <td>@twitter</td>
    <td>@twitter</td>
    <td>@twitter</td>
    <td>2.5/10</td>
  </tr>
  </tbody>
</table>
