<!--<p>jumbotron works!</p>-->
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">莱州湾工程</h1>
    <p class="lead">计划在莱州湾海域(山东省)，东营市黄河入海口至莱州市太平湾地区修建海洋堤坝.</p>
    <hr class="my-4">
    <p>1. 蓄水功能，2. 依赖水源: 黄河水，3. 工程量最小，4. 施工可能性最高，5. 海洋环境相对稳定</p>
    <a class="btn btn-primary btn-lg" [routerLink]="['./laizhouwan']" role="button">详情信息</a>
  </div>

  <div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">技术</h5>
          <p class="card-text">中国成为全球惊叹的“基建狂魔”.</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">资金</h5>
          <p class="card-text">中国成为世界第二大经济体.</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">需求</h5>
          <p class="card-text">中国是世界上荒漠化最严重的国家之一, 北方农业、工业水资源紧缺.</p>
        </div>
      </div>
    </div>
  </div>
</div>
