<!--<p>manage works!</p>-->
<div class="container-fiuled">
<!--  <app-header></app-header>-->
<!--  <div class="row">-->
<!--    <div class="col-sm-2">-->
<!--      <div class="card" >-->
<!--        <div class="text-center">-->
<!--          <img class="rounded" src="/assets/img/head/ca7ea48f8c5494eeb347c6d720f5e0fe98257e33.jpg" alt="头像" width="200" height="200">-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="card text-center" >-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">Card title</h5>-->
<!--          <p class="card-text">This card has a regular title and short paragraphy of text below it.</p>-->
<!--          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="card" >-->
<!--        <div class="card-header text-center">Header</div>-->
<!--        <div class="card-body">-->
<!--          <app-navigate></app-navigate>-->
<!--        </div>-->
<!--        <div class="card-footer"></div>-->
<!--      </div>-->

<!--      <div class="card" >-->
<!--        <div class="card-header text-center">Header</div>-->
<!--        <div class="card-body">-->
<!--          <app-navigate></app-navigate>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
<!--    <div class="col-sm-10">-->
<!--      <div class="card">-->
<!--        <div class="card-body">-->
<!--          <router-outlet></router-outlet>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <app-footer></app-footer>-->

  <div class="row">
    <div class="col-sm-2"><app-navigate></app-navigate></div>
    <div class="col-sm-10">
      <div class="card" >
        <div class="card-header">

        </div>
        <div class="card-body">

        </div>
        <div class="card-footer">

        </div>
      </div>
    </div>
  </div>
</div>

